body .oceanwp-brand {
	&.oceanwp-bloc {
		margin: 0;

		h3 {
			background-color: #7e3bd0;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 20px;
			text-align: left;
		}
	}

	.content-wrap {
    	padding: 0 20px 20px;
		text-align: left;
	}

	.field-wrap {
		margin-bottom: 30px;

		&.left,
		&.right {
			float: left;
			width: 48%;
			margin-top: 0;
			clear: left;
		}

		&.right {
			float: right;
			clear: right;
		}

		&.clear {
			clear: both;
		}

		label {
			display: block;
		    font-size: 14px;
		    font-weight: 600;
		    margin-bottom: 6px;
		}
	}

	input[type=text],
	textarea {
		display: block;
	    background-color: #f5f5f5;
	    color: #333;
	    border: 1px solid rgba(0,0,0,.1);
	    font-size: 14px;
	    padding: 5px 12px;
	    height: 34px;
	    width: 100%;
	    border-radius: 0;
	    margin: 0;
	    outline: 0;
	    box-shadow: none!important;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;

	    &:focus {
	    	border-color: rgba(0,0,0,.18);
	    }
	}

	textarea {
		min-height: 100px;
	}

	.desc {
		color: #777;
	    font-style: italic;
	    margin: 10px 0 0;
	}

	.oceanwp-media-live-preview {
		margin-bottom: 10px;
		text-align: center;

		img {
			max-width: 100%;
		}
	}

	.oceanwp-media-upload-button,
	.oceanwp-media-remove {
		margin-top: 10px;
	}

	.oceanwp-media-remove {
		float: right;
		color: #a00;
	}

	.button.owp-button {
		background-color: #7e3bd0;
		margin: 10px 0 0;

		&:hover {
			background-color: #47118a;
		}
	}

	.oceanwp-settings-updated {
		margin-top: 12px;

		p {
			color: #319e6c;
		    font-weight: 600;
		    letter-spacing: 0.6px;
		    margin: 0;
		}
	}
}

@media screen and (max-width: 1280px) {
	body .oceanwp-brand {
	    display: block;
	}
}